<div class="landing-container">
  <div class="content-wrapper">
    <div class="partner-logos">
      <a href="https://website.pafar.com.ve/" target="_blank">
        <img src="https://platformsorteoregistro.pafar.com.ve/src/image/logo-Pafar.png" alt="Logo Pafar" class="partner-logo logo-border">
      </a>
      <a href="https://www.elrecreocc.com.ve/" target="_blank">
        <img src="https://platformsorteoregistro.pafar.com.ve/src/image/logo-CcElRecreo.png" alt="Logo CC El Recreo" class="partner-logo logo-border">
      </a>
    </div>
    <h1>¡Gana el Auto de tus Sueños!</h1>
    <p>
      Regístrate ahora mismo en nuestro sorteo oficial.
    </p>
    <a routerLink="/login" class="btn btn-cta">
      ¡Participar Ahora!
    </a>
  </div>
</div>